.titulo 
{
    font-size: x-large;
    margin-right: 32px;
}
.container {

    border: 3px solid #d61010;
    width: 50%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;

}

#imguser {
    border-radius: 50%;
    border: 2px solid #a9d40a;
    width: 75px;
}
